.heading {
  font-family: "Covered By Your Grace", cursive;
  background-image: linear-gradient(
    180deg,
    rgba(94, 114, 235, 1) 0%,
    rgba(255, 145, 144, 1) 56%,
    rgba(254, 193, 149, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

@keyframes slide-in-bottom {
  0% {
    opacity: 0;
    transform: translate3d(0px, 200%, 0px);
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slide-in-left {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0px, 0px);
  }
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes bounce-in-bottom {
  0%,
  60%,
  75%,
  90%,
  100% {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0px, 3000px, 0px);
  }
  60% {
    opacity: 1;
    transform: translate3d(0px, -25px, 0px);
  }
  75% {
    transform: translate3d(0px, 10px, 0px);
  }
  90% {
    transform: translate3d(0px, -5px, 0px);
  }
  100% {
    transform: none;
  }
}

@keyframes light-speed {
  0% {
    transform: translate3d(0px, 0px, 0px) skewX(-30deg);
    opacity: 0;
  }
  60% {
    transform: skewX(20deg);
    opacity: 1;
  }
  80% {
    transform: skewX(-5deg);
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes head-shake {
  0% {
    transform: translateX(0px);
    filter: grayscale(0);
    opacity: 1;
  }
  6.5% {
    transform: translateX(-6px) rotateY(-9deg);
  }
  18.5% {
    transform: translateX(5px) rotateY(7deg);
  }
  31.5% {
    transform: translateX(-3px) rotateY(-5deg);
  }
  43.5% {
    transform: translateX(2px) rotateY(3deg);
  }
  50% {
    transform: translateX(0px);
    filter: grayscale(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
